<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center text-white">
      <div class="col-md-8 intros text-start">
        <h1 class="display-2">
          <span class="display-2--intro">Hi, I'm Kevin</span>
          <span class="display-2--description">
            Android Software Engineer
          </span>
        </h1>
        <p class="lead mb-5">
          Currently building at <strong>Mercado Libre</strong>. 
          Expert in Modern Android Development, crafting high-performance native applications with 4+ years of expertise.
        </p>
        <div class="d-flex gap-3">
          <a href="https://drive.google.com/file/d/1yooEW925q1h1_LGCj8rwYEQDr7EZ8oDq/view?usp=sharing" target="_blank">
            <button type="button" class="rounded-pill btn-rounded">
              Download CV
              <span><i class="fas fa-arrow-right"></i></span>
            </button>
          </a>
          <a href="#experience">
            <button type="button" class="rounded-pill btn-rounded outline">
              Professional Experience
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
